@import "../css/common.css";
@import "../css/reset.css";

/* [ν—¤λ”] */
#header { position: fixed; top:0; left: 0; height: 100px; width: 100%; z-index: 1; } 
#header .head-inner { display: flex; align-items: center; justify-content: space-between; background: #fff; border-bottom: 1px solid #e6e6e6; height: 100%; padding: 0 100px; position: relative; } 
#header .head-inner::before { content: ''; position: absolute; top: 100px; left: 0; right: 0; background: #fff; width: 100%; height: 200px; display: none; } 
#header .head-inner.on::before { display: block; } 
#header .logo svg { width: 46px; height: 36px; } 
#header input { background-color: #f2f3f4; border-radius: 10px; height: 40px; padding: 0 16px; width: 500px; } 
#header .lang a { display: flex; align-items: center; gap: 10px; font-size: 14px; } 
#header .btn-search {display: block;height: 42px;width: 100px;background-color: #f2f3f4;line-height: 42px;border-radius: 10px;transition: .25s; } 


/* [ν‘Έν„°] */
#footer { padding: 80px 60px; } 
#footer .content { display: flex; align-items: flex-start; justify-content: space-between; margin-top: 54px; } 
#footer .content .family { flex: 5; display: flex; gap: 48px; } 
#footer .content .family .tit { color: #999; } 
#footer .content .family ul { margin-top: 12px; } 
#footer .content .community { flex: 5; border-bottom: 1px solid #e6e6e6; } 
#footer .content .community .link-site { display: grid; grid-template-columns: repeat(2, 1fr); } 
#footer .content .community a { height: 84px; display: flex; align-items: center; gap: 0 10px; } 
#footer .content .community img { width: 60px; margin-left: 9px; } 
#footer .content .community p { margin-left: 11px; } 
#footer .policy { margin-left: 5px; font-weight: 600; } 
#footer .sns { display: flex; align-items: center; justify-content: space-between; } 
#footer .sns ul { display: flex; justify-content: space-between; align-items: flex-end; margin-top: 54px; gap: 10px; } 
#footer .btn-top { transform: rotate(180deg); } 

